body {
    margin: 0;
    position: relative;
}

a {
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#header h1 {
    color: white;
}

#content {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.contentTile {
    height: 100px;
    width: 150px;
    background-color: lightgreen;
    margin: 20px;
}

#menu {
    height: 24px;
    display: flex;
}

#menu > a {
    align-self: center;
    text-decoration: none;
    color: inherit;
    padding: 3px 6px 3px 6px;
    opacity: 0.5;
}

#menu > a.selected {
    opacity: 1;
}