#header {
    background-color: lightgreen;
    background-image: url("../images/spacex-home-small.jpeg");
    background-position: center;
}

#homeMap {
    width: 100%;
    height: 250px;
}

#companyInfoSection .stat-name {
    color: darkblue;
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

#companyInfoSection > p,
#companyInfoSection > table {
    font-size: smaller;
}