#header {
    background-color: lightgreen;
}

#homeMap {
    width: 100%;
    height: 250px;
}

#companyInfoSection .stat-name {
    color: darkblue;
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}